.Story {
  max-width: 400px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.Story__content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.Image__container {
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.Image__container img {
  width: 100%;
}

.Story__div--row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
